{% extends "base.html" %}

{% block body %}
  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Services</h2>
            <p>Create a customized diet plan tailored to your specific goals and preferences. Engage in interactive workouts with virtual trainers for real-time guidance</p>

            <a class="cta-btn" href="contact.html">Available for hire</a>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="row gy-4">
          <div class="col-xl-3 col-md-6 d-flex">
            <div class="service-item position-relative">
              <i class="bi bi-calendar4-week"></i>
              <h4><a href="/diet-generator" class="stretched-link">Diet Generator</a></h4>
              <p>The AI meal planner application starts by asking users about their Height,Weight</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex">
            <div class="service-item position-relative">
              <i class="bi bi-broadcast"></i>
              <h4><a href="/posture-checker" class="stretched-link">Check Your Posture</a></h4>
              <p>Sitting Posture Identifier using AI</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->
  {% endblock body %}